@import "tailwindcss";

@layer base {
	body {
		background-color: #f4f5f7;
		color: #000000;
	}

	header {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	h1 {
		font-size: 2.25rem;
		font-weight: 700;
	}
}
